html,
body {
	margin: 0;
	padding: 0;
}

.btnyes {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 3px solid #FFFFFF;
  background: #000000;
}
.btnyes:hover {
  background: #fff;
  color: #212529
}